@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-27 {
  background-color: #6fa783;
  padding: 20px 0; }
  .type-27 .searchArea {
    background-color: white;
    padding: 30px 20px; }
  .type-27 .searchProperty {
    text-transform: uppercase;
    background-color: #f0e797;
    color: #bdb254;
    border-radius: 3px;
    font-weight: bold;
    padding: 30px;
    font-size: 24px;
    text-align: center; }
  .type-27 .searchProperty:hover {
    background-color: #75b08a;
    color: white;
    cursor: pointer; }
  .type-27 .label-select::before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0 4px 4px 0;
    pointer-events: none;
    z-index: 10;
    cursor: pointer; }
  .type-27 .label-select::after {
    content: "\f107";
    font-family: FontAwesome;
    line-height: 1;
    position: absolute;
    bottom: 16px;
    right: 20px;
    pointer-events: none;
    z-index: 11; }
  .type-27 .form-group {
    margin-bottom: 15px;
    position: relative; }
  .type-27 .form-control:focus {
    border-color: #ced4da;
    box-shadow: none; }
  .type-27 .form-control {
    height: 50px !important; }
  .type-27 .range {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .type-27 .range label {
    width: 100%; }
  .type-27 .range input {
    cursor: pointer; }
